* text=auto eol=lf

*.php diff=php

/.git*         export-ignore
/tests         export-ignore
/images        export-ignore
/examples      export-ignore
/.editorconfig export-ignore
/phpstan.neon  export-ignore
/phpunit.xml   export-ignore
/CHANGELOG.md  export-ignore
